<html>
  <head>
    <title>Endpoints</title>
  </head>
  <body>
  <h1> Endpoints </h1>  
 <p>GET /mcm/:a/:b calcula y presenta el mínimo común múltiplo de los valores numéricos :a y :b</p> 
 <p>GET /mcd/:a/:b calcula y presenta el máximo común divisor de los valores numéricos :a y :b</p>
 <p>GET /sum/* calcula la sumatoria de todos los valores numéricos recibidos como parámetro en el splat</p>
 <p>GET /even/* presenta la cantidad de números pares que hay entre los valores numéricos recibidos como parámetro en el splat</p>
 <p>POST /random presenta un número al azar</p>
 <p>POST /random/:lower/:upper presenta un número al azar entre :lower y :upper (dos valores numéricos)</p>
  </body>
</html>
